In [73]:
import pandas as pd
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn.preprocessing import StandardScaler, OneHotEncoder, MinMaxScaler
from sklearn.metrics import classification_report, plot_confusion_matrix, confusion_matrix,accuracy_score
from sklearn import metrics

In [74]:
df = pd.read_csv('combined-dataset.csv')
print (df.columns)
df.head(20)

Index(['gold', 'platinum', 'palladium', 'tungsten', 'silver', 'y'], dtype='object')

     gold  platinum  palladium  tungsten  silver  y
0   43520     22464      21397     20007   24313  1
1   43534     22031      21513     19904   24052  1
2   43534     22554      21243     20086   24285  1
3   43588     22347      21179     20285   24279  1
4      75     22583      21516     19634   24203  1
5   23144     21949      20841     20448   24490  1
6   27635     22280      21984     19521   24288  1
7   26400     22167      20833     20764   24113  1
8   27318     23069      21733     19636   24339  1
9   26469     21838      20803     20391   24088  1
10  27592     22882      21836     19825   24786  1
11  27320     21556      21462     20356   23681  1
12  27972     23305      21345     20418   24669  1
13  27157     21967      21440     19972   23714  1
14  27672     22802      21156     20011   24526  1
15  26952     22019      21381     19878   24304  1
16  27800     22400      21357     19830   24297  1
17  27434     22360      21101     20638   24166  1
18  28458     22514      21637     19685   24032  1
19  27093     22005      20652     20327   24523  1

In [75]:

X = df.iloc[:,:5].values
Y = df.iloc[:,5:6].values
scaler = MinMaxScaler()
X = scaler.fit_transform(X)


X_train,X_test,y_train,y_test = train_test_split(X,Y,test_size = 0.4,random_state = 42)

In [76]:
print('The shape of our features is:', df.shape)
df.describe()

The shape of our features is: (233700, 6)

,gold,platinum,palladium,tungsten,silver,y
count,233700.000000,233700.000000,233700.000000,233700.000000,233700.000000,233700.000000
mean,24367.802991,21456.918691,21370.395156,21985.624801,22753.481292,6.289474
std,3265.435261,2466.196488,1429.601283,2787.012963,4634.859332,3.912928
min,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,22796.000000,21127.000000,21133.000000,20822.000000,21915.000000,3.000000
50%,23543.000000,21611.000000,21522.000000,22834.000000,22543.000000,6.000000
75%,25144.000000,22135.000000,21806.000000,23404.000000,23542.000000,10.000000
max,44200.000000,44112.000000,44069.000000,44359.000000,44571.000000,13.000000

In [77]:
from sklearn.ensemble import RandomForestClassifier
clf=RandomForestClassifier(n_estimators=190)

#Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(X_train,y_train)

y_pred=clf.predict(X_test)

C:\Users\DR\AppData\Local\Temp/ipykernel_10332/3184566479.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  clf.fit(X_train,y_train)

In [78]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))
print("Confusion matrix",confusion_matrix(y_test, y_pred))
print("Confusion matrix",classification_report(y_test, y_pred))

Accuracy: 0.7249144201968335
Confusion matrix [[11605   496  1062   148   290   111    26   410   796   186     6   133
    223]
 [  663  3429     0    75  1025    46     0   723   869    11     1    32
    415]
 [  731     1  6551     2     2     5    17     3     1     4    14    21
      0]
 [  368   170    17  2088   432   865     7   223   137   186     4   280
     89]
 [  372   949    11   192  4379    69     0   765   368    10     3    20
    216]
 [  223    53    11   496   121  3355     3    40    34   323     2   282
     17]
 [   11     0    15     0     0     0  7225     0     4     8    60     6
      0]
 [  626   781     7   158   889    62     0  3475   907    16     1    54
    346]
 [  559   845     6    47   291    11     2   596  4662    16     3    68
    402]
 [  125     8    13    76     8   138     2    15    11  6126     2   113
      4]
 [    2     0     4     0     0     0    51     0     0     0  4925     5
      0]
 [  200    30    18   217    28   425     5    21    74   366     4  6006
     25]
 [  216   200     0    22   122     4     0   220   211     4     9    14
   3939]]
Confusion matrix               precision    recall  f1-score   support

           1       0.74      0.75      0.74     15492
           2       0.49      0.47      0.48      7289
           3       0.85      0.89      0.87      7352
           4       0.59      0.43      0.50      4866
           5       0.58      0.60      0.59      7354
           6       0.66      0.68      0.67      4960
           7       0.98      0.99      0.99      7329
           8       0.54      0.47      0.50      7322
           9       0.58      0.62      0.60      7508
          10       0.84      0.92      0.88      6641
          11       0.98      0.99      0.98      4987
          12       0.85      0.81      0.83      7419
          13       0.69      0.79      0.74      4961

    accuracy                           0.72     93480
   macro avg       0.72      0.72      0.72     93480
weighted avg       0.72      0.72      0.72     93480